<div class="app-modal">
    <div class="app-modal-body">
        <div class="app-modal-title">
            <button (click)="downloadImage( {url: image, filename: 'your_image_download'} )"> <fa-icon  [icon]="faDownload" ></fa-icon> Download Image</button>

            {{photographer}}
        </div>
        <div (click)="closeModal('gallery-image-modal');" class="app-modal-close-container">
            <div class="app-modal-leftright"></div>
            <div class="app-modal-rightleft"></div>
            <label class="app-modal-close">close</label>
        </div>

        <img [src]="image">
        <ng-content></ng-content>
        

    </div>
</div>
<div class="app-modal-background"></div>